.mat-card {
    background: #fff;
    color: rgba(0,0,0,.87);
    height: 350px;
    background-color: whitesmoke;
}
.align-text {
    margin: 40px 10px;
    color: #3f51b5;
}
.paused-count {
    text-align: center;
    font-size: 100px
}