<div style="float: right;">
    <app-home></app-home>
</div>
<div class="container">
    <div class="common-border box-model-1">
        <div class="common-border box-model-2">
            <div class="common-border box-model-2">
                <div class="common-border box-model-2">
                    <div class="common-border box-model-3">
                        <div class="common-border box-model-1">
                            <div class="common-border box-model-3">
                                <div class="common-border box-model-1 card">
                                    <div class="text-rotate">A floating banner text which keeps on rotating</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
