<div class="row">
    <div class="column">
      <a style="text-decoration: none;" routerLink="/pattern">
      <div class="card" style="background-color:cadetblue;">
        <h3><b>Pattern</b></h3>
        <p>Shows some pattern</p>
      </div>
    </a>
    </div>
    <div class="column">
        <a style="text-decoration: none;" routerLink="/products">
        <div class="card" style="background-color:lightblue;">
          <h3>Products</h3>
          <p>E-commerce catalogue</p>
        </div>
    </a>
      </div>
  
    <div class="column">
      <a style="text-decoration: none;" routerLink="/timer">
      <div class="card" style="background-color:thistle;">
        <h3><b>Timer</b></h3>
        <p>Functionality using Angular inbuilt methods</p>
      </div>
    </a>
    </div>
    
    <div class="column">
      <a style="text-decoration: none;" routerLink="/timer-service">
      <div class="card" style="background-color:cornflowerblue;">
        <h3><b>Timer2</b></h3>
        <p>Functionality using RxJs</p>
      </div>
    </a>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <a style="text-decoration: none;" routerLink="/table">
      <div class="card" style="background-color:lightskyblue;">
        <h3>Student Marksheet</h3>
        <p>Marksheet of the various students`</p>
      </div>
    </a>
    </div>
  
    <div class="column">
      <a style="text-decoration: none;" routerLink="/button">
      <div class="card" style="background-color:slategray;">
        <h3>Button</h3>
        <p>Dynamic Button Creation</p>
      </div>
    </a>
    </div>
    
  </div>